# dotenv environment variables file
.env*
.env.local
.env.production
.env.development.local
.env.production.local

# next.js build output
.next/
out/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

.vercel
